# Disabled rules should have a comment associated
# Or at least an empty comment # to show they were put here explicitely,
# and not as part of the historical CLion-generated rules

Checks:
- -*
- mpi-*
- bugprone-*
- -bugprone-signal-handler
- -bugprone-narrowing-conversions
- -bugprone-redundant-branch-condition
- -bugprone-exception-escape
- -bugprone-shared-ptr-array-mismatch
- -bugprone-implicit-widening-of-multiplication-result
- -bugprone-signed-char-misuse
- -bugprone-unhandled-exception-at-new
- -bugprone-infinite-loop
- -bugprone-easily-swappable-parameters
- cert-err52-cpp
- cert-err60-cpp
- cert-err34-c
- cert-str34-c
- cert-dcl21-cpp
- cert-msc50-cpp
- cert-msc51-cpp
- cert-dcl58-cpp
- cert-flp30-c
- cppcoreguidelines-avoid-const-or-ref-data-members
- cppcoreguidelines-pro-type-member-init
- cppcoreguidelines-slicing
- cppcoreguidelines-interfaces-global-init
- cppcoreguidelines-pro-type-static-cast-downcast
- cppcoreguidelines-narrowing-conversions
- google-default-arguments
- google-runtime-operator
- google-explicit-constructor
- hicpp-multiway-paths-covered
- hicpp-exception-baseclass
- misc-*
- -misc-definitions-in-headers
- -misc-unused-parameters
- -misc-unused-alias-decls
- -misc-use-anonymous-namespace
- -misc-misleading-identifier
- -misc-confusable-identifiers
- -misc-misleading-bidirectional
- -misc-static-assert
- -misc-no-recursion
- -misc-const-correctness
- -misc-use-internal-linkage # False positives if header where function is defined is not included
- modernize-*
- -modernize-use-trailing-return-type
- -modernize-use-std-print # We want to use fmt::print instead
- openmp-use-default-none
- performance-*
- -performance-no-int-to-ptr
- portability-*
- -portability-restrict-system-includes
- readability-*
- -readability-redundant-preprocessor
- -readability-named-parameter
- -readability-function-size
- -readability-use-anyofallof
- -readability-identifier-length
- -readability-magic-numbers
- -readability-braces-around-statements
- -readability-suspicious-call-argument
- -readability-isolate-declaration
- -readability-else-after-return
- -readability-redundant-access-specifiers
- -readability-function-cognitive-complexity
- -readability-identifier-naming
- -readability-qualified-auto
- -readability-use-std-min-max # Less readable imo
- -readability-math-missing-parentheses # Basic math
- -readability-implicit-bool-conversion # Not much of a problem ?
- -readability-convert-member-functions-to-static #
- -readability-use-concise-preprocessor-directives # We do not use #ifdef
- '*-include-cleaner'

# idk
- -misc-include-cleaner # No direct include
- -cppcoreguidelines-narrowing-conversions # int -> float without cast
- -modernize-use-designated-initializers # do not initalize without writing field

# check later, maybe important
- -misc-unconventional-assign-operator

# Don't want to deal with that now
- -bugprone-unchecked-optional-access
- -modernize-avoid-c-arrays
- -misc-non-private-member-variables-in-classes
- -performance-move-const-arg
- -bugprone-suspicious-stringview-data-usage
- -cert-err34-c
- -hicpp-exception-baseclass
- -modernize-use-integer-sign-comparison
- -performance-for-range-copy