/.vscode/
/.idea/
/.kdev4/
/.vs/
.venv/

/cmake-build-*/
/build*/
/local/
/venv/
/.cache/
/install/
/out/

/dist/ImHex.run.xml

*.mgc
*.kdev4
imgui.ini
.DS_Store
CMakeUserPresets.json
Brewfile.lock.json

vcpkg.json
