[submodule "lib/external/nativefiledialog"]
	path = lib/external/nativefiledialog
	url = https://github.com/btzy/nativefiledialog-extended
	ignore = dirty
[submodule "lib/external/yara/yara"]
	path = lib/external/yara/yara
	url = https://github.com/VirusTotal/yara
	ignore = dirty
[submodule "lib/external/xdgpp"]
	path = lib/external/xdgpp
	url = https://git.sr.ht/~danyspin97/xdgpp
	ignore = dirty
[submodule "lib/external/fmt"]
	path = lib/external/fmt
	url = https://github.com/fmtlib/fmt
	ignore = dirty
[submodule "lib/external/capstone"]
	path = lib/external/capstone
	url = https://github.com/capstone-engine/capstone
	ignore = dirty
[submodule "lib/external/libromfs"]
	path = lib/external/libromfs
	url = https://github.com/WerWolv/libromfs
	ignore = dirty
[submodule "lib/external/pattern_language"]
	path = lib/external/pattern_language
	url = https://github.com/WerWolv/PatternLanguage
[submodule "lib/external/libwolv"]
	path = lib/external/libwolv
	url = https://github.com/WerWolv/libwolv