[submodule "lib/third_party/nativefiledialog"]
	path = lib/third_party/nativefiledialog
	url = https://github.com/btzy/nativefiledialog-extended
	ignore = dirty
[submodule "lib/third_party/yara/yara"]
	path = lib/third_party/yara/yara
	url = https://github.com/VirusTotal/yara
	ignore = dirty
[submodule "lib/third_party/xdgpp"]
	path = lib/third_party/xdgpp
	url = https://github.com/WerWolv/xdgpp
	ignore = dirty
[submodule "lib/third_party/fmt"]
	path = lib/third_party/fmt
	url = https://github.com/fmtlib/fmt
	ignore = dirty
[submodule "lib/third_party/capstone"]
	path = lib/third_party/capstone
	url = https://github.com/capstone-engine/capstone
	ignore = dirty
[submodule "lib/third_party/jthread/jthread"]
	path = lib/third_party/jthread/jthread
    url = https://github.com/josuttis/jthread
    ignore = dirty
[submodule "lib/third_party/edlib"]
	path = lib/third_party/edlib
	url = https://github.com/Martinsos/edlib
	ignore = dirty
[submodule "lib/third_party/lunasvg"]
	path = lib/third_party/lunasvg
	url = https://github.com/WerWolv/lunasvg
	ignore = dirty

[submodule "lib/external/libromfs"]
	path = lib/external/libromfs
	url = https://github.com/WerWolv/libromfs
[submodule "lib/external/pattern_language"]
	path = lib/external/pattern_language
	url = https://github.com/WerWolv/PatternLanguage
[submodule "lib/external/libwolv"]
	path = lib/external/libwolv
	url = https://github.com/WerWolv/libwolv

[submodule "lib/third_party/HashLibPlus"]
	path = lib/third_party/HashLibPlus
    url = https://github.com/WerWolv/HashLibPlus
[submodule "lib/external/disassembler"]
	path = lib/external/disassembler
	url = https://github.com/WerWolv/Disassembler
